.App {
  text-align: center;
}


#header {
  background-color: #282c34;
  display: flex;
  color: white;
  padding-left: 3em;
}

#footer{
  display:flex;
  justify-content: space-between;
  padding:0 3em 0 3em;
}

