body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  background: #fefefe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, p, a, ul, li {
  margin: 0;
}

.App {
  text-align: center;
}

header {
  margin: 0;
  padding: 0 4rem 0 4rem;
  display: flex;
  justify-content: space-between;
  background-color: #282c34;
  color: white;
  
}

.header-menu-content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.header-menu-content > *{
  flex:1 1 0;
}

.header-menu-content a{
  color: white;
  text-decoration: none;
}

main{
  display: flex;
  padding: 3rem 4rem 0 4rem;
}

#articles{
  display: flex;
  flex-direction: column;
}

.article-hl-container{
  position: absolute;
}

.article-hl-container > h4{
  position: fixed;
}

.article{
  padding:0 2rem 2rem 0;
  width: 95%;
  display: flex;
  align-items: flex-start;
}

.article-image img{
  width: 100%;
  max-width: 400px;
  min-width: 400px;
}

.article-info {
  padding-left: 2rem;
}

.article-info > h3{
  width: max-content;
}

.article-info h3 > a{
  color:#282c34;
  transition: 500ms;
}

.article-info h3 > a::after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  }
  
.article-info h3 > a:hover::after {
  width: 100%;
  background: #282c34;
}

.article-info a{
  text-decoration: none;
  color:#d62828;
  
}

#footer{
  display:flex;
  justify-content: space-between;
  padding:0 4rem 0 4rem;
}

.footer__right ul{
  list-style-type: none;
  padding:0;
  margin: 0;
}

